/* font o lo que sea que tenga que poner aca arriba */
@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Patua+One&display=swap");

/*  para quitar fuentes predeterminadas de navegador por default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  fin cosas */

/*  Inicio del Nav */
.navbar {
  background-color: transparent;
  padding: 10px;
}

.nav-item {
  justify-items: center;
  margin: 0 10px;
  padding: 15px;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #a1c398;
  transition: background-color 0.6s, color 0.3s;
}
.nav-item a:hover {
  background-color: #c6ebc5; /* hover = pasar mouse encima */
  border: 0;
}
.nav-item a:active {
  background-color: #617e60; /* hover = pasar mouse encima */
  color: #fff;
}

.navbar-item-drop {
  margin: 10px;
}
.dropdown-menu {
  border: 0px;
  background-color: transparent;
}

.logo {
  border-radius: 60%;
  width: fit-content; /* Ajusta el tamaño */
  height: 7em; /* Ajusta el tamaño */
  background-color: #a1c398; /* Cambia el color de fondo */
}

/* Fin del Nav */
header {
  border-radius: 10px; /* Bordes redondeados */
  background: linear-gradient(135deg, #a1c398, #333); /* Degradado */
  color: #fff; /* Color del texto */
  margin-bottom: 10px;
}

.inicio {
  width: 100vw;
  height: 100vh;
  background-image: url("../static/perrito.gato.inicio2.jpg");
  background-position: center;
  background-size: cover; /* Hace la imagen responsive */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.inicio-content {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}
.inicio-content p {
  font-size: medium;
  color: #000;
  font-size: 3vmin;
  background: linear-gradient(135deg, #eaf5f0 0%, #5ee669 50%, #329f51 100%);
  border-radius: 10px;
}
.inicio-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Munito";
}

.contenido-nosotros img {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #ddd;
  width: 100%;
  max-height: 400px; /* Altura máxima deseada */
  object-fit: cover; /* Ajustamos la imagen para cubrir completamente el contenedor */
}

.titulo,
h3 {
  font-size: 24px;
  padding: 20px 0;
}

.contenedor-video {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #a1c398;
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.card .textos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card iframe {
  width: 100%; /* Aseguramos que los iframes de los videos ocupen todo el ancho del contenedor */
}
.banner {
  padding: 40px 20px; /* Ajustamos el padding para evitar que el texto tape la imagen */
  background: linear-gradient(to top, rgba(46, 54, 59, 0.8), rgba(30, 35, 38, 1)), url(../static/perro.gato.inicio.jpg);
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  text-align: left;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.banner h3 {
  color: #ddd;
}
.banner img {
  max-width: 100%; /* Ajustamos imagen al ancho máximo del contenedor */
  max-height: 100%; /* Ajustamos imagen al alto máximo del contenedor */
}

.banner ul {
  list-style: none;
  text-align: left; /* Centramos el texto horizontalmente */
  margin: 0;
}

.banner ul li {
  margin: 15px 0; /* Ajustamos el margen superior e inferior de los elementos de la lista */
  font-weight: bold;
}

.banner .boton {
  background: #06f03184;
  color: #ddd;
  display: block;
  width: 30%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-family: "Munito", sans-serif;
  cursor: pointer;
}

/* Body */

main {
  .container {
    background-color: #c6ebc5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }

  /* Estilos para dispositivos móviles (ancho menor a 768px) */
  @media (max-width: 768px) {
    /* Cambiamos a un diseño de una sola columna */
    .container {
      grid-template-columns: 1fr;
    }
  }

  /* Estilos para dispositivos de pantalla grande (ancho mayor a 768px) */
  @media (min-width: 769px) and (max-width: 990px) {
    /* Mantenemos el diseño de tres columnas */
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      padding: 20px;
    }
  }

  /* Estilos para los elementos dentro de la cuadrícula */
  .article {
    border: 1px solid #ddd;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    background-color: #a1c398;
  }

  .article img {
    max-width: 100%;
    width: fit-content;
    height: fit-content;
    padding: 2%;
    border-radius: 40px;
  }

  .article-item {
    border: 1px solid #ddd;
    border-radius: 40px;
    padding: 5px;
    text-align: center;
    background-color: #a1c398;
  }

  .article-item img {
    max-width: 30%;
    max-height: 30%;
    width: fit-content;
    height: fit-content;
  }
  h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
  }
  h3 {
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    padding: 20px 20px 5px 60px;
    color: #a1c398;
  }
  p {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  /*formulario adopcion*/
  .form-adop {
    position: relative;
    display: grid;
    grid-area: "form";
    grid-template-areas: "form ";
    padding: 60px 200px 60px 200px;
    align-content: center;
    background-color: #a1c398;
    font-size: 24px;
  }
}

h1 {
  text-align: center;
  font-size: 52px;
  margin-bottom: 10px;
}
.titulo {
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 50%;
}
.item img {
  width: 100%;
  height: 100%;
}

/* Fin Body */

/* footer */

.icons-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid rgb(3, 48, 40);
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.icons-redes-sociales i {
  color: rgb(6, 126, 24);
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}
.icons-redes-sociales a:hover {
  background-color: rgb(6, 126, 24);
  border: 2px solid rgb(3, 48, 40);
  transform: scale(1.1, 1.1);
}

.icons-redes-sociales a:active {
  background-color: rgb(6, 126, 66);
  border: 2px solid rgb(3, 48, 40);
}

.icons-redes-sociales a:hover i {
  color: black;
}
.icons-redes-sociales a:active i {
  color: black;
}
/* Carrusel */
.carousel-inner {
  padding: 40px 40px 80px 40px;
  max-height: 600px;
  overflow: hidden;
}

.carousel-item img {
  padding: 5px;
  text-align: center;
  background-color: #ddd;
  width: 100%;
  max-height: 600px;
  object-fit: hidden;
}

/* Estilos para el contenedor principal */

/* Estilos personalizados */
.nosotros {
  text-align: center;
  margin-bottom: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.nosotros h1,
.nosotros h2 {
  margin-bottom: 10px;
  font-size: 35px;
  color: #333;
  line-height: 1.5;
}
.nosotros p{
  font-size: 28px;
}
/* Inicio cosas responsive */

@media screen and (max-width: 576px) {
  .nav-item {
    flex: 0 0 50%;
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .nav-item {
    flex: 0 0 50%;
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
}
/* Fin cosas responsive */
/* Donar */
.donar {
  padding: 40px 20px; /* Ajustamos el padding para evitar que el texto tape la imagen */
  background: url(../static/imagDonar.jpg);
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  text-align: left;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.donar h1 {
  position: absolute; 
  bottom: 1; 
  left: 1; 
  right: 0; 
  text-align: center; 
  padding: 10px; 
  margin: 0; 
  font-size: 48px;
    padding: 40px 0;
    background-image: linear-gradient(
      to right,
      rgb(17, 215, 106),
      #e52e71
    ); /* Degradado como fondo */
    -webkit-background-clip: text;
    color: transparent;
  }
  
.donar p{
    position: absolute; /* Posicionamos el texto de manera absoluta */
    bottom: 0; /* Lo colocamos al fondo del contenedor */
    left: 2; /* izquierda */
    right: 1; /*ancho del texto */
    text-align: center; 
    margin: 0; /* Quitamos el margen para evitar espacios innecesarios */
    font-size: 38px;
    padding: 40px 0;
    background-image: linear-gradient(
      to right,
      rgb(17, 215, 106),
      #044749
    ); /* Degradado como fondo */
    -webkit-background-clip: text;
    color: transparent;
   }
  .donarMedios img{
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
      background-color: #ddd;
      width: 100%;
      height: 90%;
      max-height: 400px; 
  }
/* contactanos */

body .contactame {
  background: linear-gradient(135deg, #4de19c 0%, #5ee669 50%, #329f51 100%);
  /* El ángulo de 135 grados crea una transición diagonal más suave entre los colores */
}
.contactame {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}
.contactotitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: aliceblue;
  font-weight: 500;
}
.form {
  grid-area: form;
}
.info {
  grid-area: info;
}
.map {
  grid-area: map;
}

.contacto {
  padding: 30px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}
.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr; /* fracción del espacio disponible en el contenedor. */
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
  margin-top: 20px;
}
.contacto h3 {
  color: #329f51;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* form */
.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #329f51;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}
.inputBox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputBox input[type="submit"] {
  background: chartreuse;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}
.inputBox ::placeholder {
  color: #333;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* info */
.info {
  background: #255735;
}
.info h3 {
  color: #fff;
}
.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #5ee669;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}
.info .infoBox div p {
  color: #fff;
  font-size: 1.1em;
}
.info .infoBox div a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}

.contacto-redes-sociales {
  margin-top: 40px;
  display: flex;
}
.contacto-redes-sociales li {
  list-style: none;
  margin-right: 15px;
}

.contacto-redes-sociales li a {
  color: #fff;
  font-size: 2em;
  color: #ccc;
}

.contacto-redes-sociales li a:hover {
  color: #5ee669;
}
.contacto-redes-sociales li a:active {
  color: #5ee669;
}
.map {
  padding: 0;
}
.map iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .nosotros h1,
  .nosotros h2 {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .nosotros p{
    font-size: 14px;
  }
   .contenedor-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: none;
  }

  .contactame {
    padding: 20px;
  }

  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form" "info" "map";
  }

  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputBox {
    width: 100%;
  }

  .contacto {
    padding: 30px;
  }

  .map {
    min-height: 300px;
    padding: 30px;
  }

  .inicio {
    height: 50vh;
  }

  .inicio-content {
    margin-bottom: 50px;
  }

  .inicio-content h1 {
    font-size: 5vmin;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .banner {
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .donar {
    padding: 20px;
    margin-bottom: 50px;
    height: 50vh;
  }
  .donar p{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
  
  }

  .card {
    width: 100%;
  }
}

/* Media query para ajustar el tamaño del logo en Mozilla Firefox */
@supports (-moz-appearance:none) {
  .logo {
    /* Estilos específicos para Mozilla Firefox */
    width: 10em; /* Ajusta el tamaño del logo para Firefox */
    height: auto; /* Ajusta el alto automáticamente */
  }
}