<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopcion Animales</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <div class="navbar">
        
            <ul class="nav-list">
              <li class="nav-item"><a href="#">Adoptar</a></li>
              <li class="nav-item"><a href="#">Donar</a></li>
              <li class="nav-item"><a href="#">Contacto</a></li>
              <li class="nav-item"><a href="#">Sobre Nosotros</a></li>
            </ul>
       
    </div>
    <section class="container">
        <div class="item">
            <h1>Cambia tu vida y la de ellos</h1>
            <p>Únete a la hermosa aventura de la adopción y descubre cómo cambiar tu vida y la de ellos, llenando tu hogar de amor y nuevas experiencias.</p>
        </div>
        <div class="item">
            <img src="../static/dogandcat.svg" alt="">
        </div>
    </section>
</body>
</html>